<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  merge_plot_national_data.py<p>
<p>Version:  March 31, 2018
<p>Input 1:  CDC Influenza-Like-Illness Json File for Flu Season 2017</p>
<p>Input 2:  HHS Vaccinations Json File for Flu Season 2017</p>
<p>Output:  A json file of merged input used for plots.</p>

In [1]:
# Import dependances.
import json
import pandas as pd

In [2]:
# Load CDC data into a dataframe.
df = pd.read_json('../data/cdc_national.json')

In [3]:
# Inspect the dataframe.
df.head()

    Cases   Percent  Week  Year
0   13021  1.401146    40  2017
1   13291  1.430199    41  2017
10  31453  3.384551    50  2017
11  42535  4.577047    51  2017
12  44965  4.838531    52  2017

In [4]:
# Normalize CDC week to HHS week using a dictionary.
cases_dict = {}
for i in list(df.index):
    case_dict = {}
    case_dict["flu_cases"] = df.loc[i,'Cases']
    case_dict["flu_percent"] = df.loc[i, 'Percent']
    
    # Normalize CDC Week to Plot Week.
    if df.loc[i, 'Year'] == 2017:
        case_dict["week"] = df.loc[i,'Week'] - 30
    else:
        case_dict["week"] = df.loc[i,'Week'] + 22
       
    cases_dict[str(i)] = case_dict

In [5]:
# Load the CDC dataframe from the normalized dictionary.
df_cdc = pd.DataFrame(cases_dict)

In [6]:
# Inspect the CDC dataframe.
df_cdc.head()

,0,1,10,11,12,13,14,15,16,17,...,21,22,23,3,4,5,6,7,8,9
flu_cases,13021.000000,13291.000000,31453.000000,42535.000000,44965.000000,47196.000000,56633.000000,62885.000000,76992.000000,84926.000000,...,34714.000000,27738.000000,22781.000000,15845.000000,17081.000000,18972.000000,21784.000000,19715.000000,23692.000000,24812.000000
flu_percent,1.401146,1.430199,3.384551,4.577047,4.838531,5.078601,6.094085,6.766841,8.284848,9.138598,...,3.735456,2.984792,2.451386,1.705027,1.838028,2.041513,2.344102,2.121464,2.549416,2.669935
week,10.000000,11.000000,20.000000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,...,31.000000,32.000000,33.000000,13.000000,14.000000,15.000000,16.000000,17.000000,18.000000,19.000000

In [7]:
# Swap axis of the CDC dataframe so attributes are moved to columns.
df_cdc = df_cdc.T

In [8]:
# Inspect the CDC dataframe.
df_cdc.head()

    flu_cases  flu_percent  week
0     13021.0     1.401146  10.0
1     13291.0     1.430199  11.0
10    31453.0     3.384551  20.0
11    42535.0     4.577047  21.0
12    44965.0     4.838531  22.0

In [9]:
# Sort by week to aid analysis.
df_cdc = df_cdc.sort_values(['week'])

In [10]:
# Inspect the CDC dataframe.
df_cdc.head()

   flu_cases  flu_percent  week
0    13021.0     1.401146  10.0
1    13291.0     1.430199  11.0
2    14357.0     1.544908  12.0
3    15845.0     1.705027  13.0
4    17081.0     1.838028  14.0

In [11]:
# Load the HHS dataframe from the json file.
df_hhs = pd.read_json('../data/hhs_national.json')

In [12]:
# Inspect the HHS dataframe.
df_hhs.head()

    vac_pct_week  vac_percent  vaccinations  week
0       0.169688     0.169688      31422333     1
1       0.337779     0.507467      31422333     2
10      4.784500    30.386500      31422333    11
11      3.883400    34.269900      31422333    12
12      2.946000    37.215900      31422333    13

In [13]:
# Sort by week to aid in analysis.
df_hhs = df_hhs.sort_values(['week'])

In [14]:
# Merge the CDC and HHS data into the results dataframe.
result = pd.merge(df_cdc, df_hhs, how='outer', on=['week'])

In [15]:
# Sort by week to aid in analysis.
result = result.sort_values(by=['week'])

In [16]:
# Replace null values with zeroes where there is not intersection between CDC and HHS data.
result.fillna(0, inplace=True)

In [17]:
# Inspect the result dataframe.
result.head()

    flu_cases  flu_percent  week  vac_pct_week  vac_percent  vaccinations
24        0.0          0.0   1.0      0.169688     0.169688    31422333.0
25        0.0          0.0   2.0      0.337779     0.507467    31422333.0
26        0.0          0.0   3.0      0.540393     1.047860    31422333.0
27        0.0          0.0   4.0      0.960920     2.008780    31422333.0
28        0.0          0.0   5.0      1.629500     3.638280    31422333.0

In [18]:
# Inspect the result dataframe.
result.tail()

    flu_cases  flu_percent  week  vac_pct_week  vac_percent  vaccinations
19    75004.0     8.070926  29.0           0.0          0.0           0.0
20    52010.0     5.596619  30.0           0.0          0.0           0.0
21    34714.0     3.735456  31.0           0.0          0.0           0.0
22    27738.0     2.984792  32.0           0.0          0.0           0.0
23    22781.0     2.451386  33.0           0.0          0.0           0.0

In [19]:
# Write the result dataframe to a json file for plots.
result.to_json('../data/plot_national.json')

In [20]:
# Validate the file by loading it to a dataframe.
df_plot = pd.read_json('../data/hhs_national.json')

In [21]:
# Sort the plot datafram to aid in analysis.
df_plot = df_plot.sort_values(['week'])

In [22]:
# Validate the plot dataframe.
df_plot.head()

   vac_pct_week  vac_percent  vaccinations  week
0      0.169688     0.169688      31422333     1
1      0.337779     0.507467      31422333     2
2      0.540393     1.047860      31422333     3
3      0.960920     2.008780      31422333     4
4      1.629500     3.638280      31422333     5

In [23]:
# Validate the plot dataframe.
df_plot.tail()

    vac_pct_week  vac_percent  vaccinations  week
20        0.2095      45.8187      31422333    21
21        0.1009      45.9196      31422333    22
22        0.0651      45.9847      31422333    23
23        0.0026      45.9873      31422333    24
24        0.0000      45.9873      31422333    25